language: clojure
cache:
  directories:
  - $HOME/.m2
script: lein test-all
after_success:
- lein pallet-release push
jdk:
  - openjdk8
  - openjdk11
  - openjdk-ea
env:
  global:
    secure: UO7Mj7KIH/uEtEtNs6KdMcyc7ilne9AvSs4BB9G5NbwSNYvengOWc/ODEm2HkeWaEyFjFp9SnIzDW4JHrCTa/ANwrVRTEZKv4Gf8Z8wYOOJTrBinzIjkJgg/sn9YxkILJ1lmvMxzX4jnahlh529SGHdWP6rSkaP76+5E4PeyR8M=
